# IDEs
.idea/
.vscode/

# NodeJS Libraries
node_modules/

# TypeScript Output
**/*.js.map
**/*.js
tsconfig.tsbuildinfo

# pkg Builds
build/

# Running in this directory
certs/
logs/
plugins/
configs/
packets/
protocol/
rawPackets/
unknown/
versions/
config.json